
.tile{
    &__title{
        font-weight: bold;
    }

    &__subtext{
        color: rgb(146, 146, 146);
        font-size: smaller;
    }
}

.card{
    background-color: #181818;
    max-width: 110px;
}